@import "variables";
@import "ui-variables";

@orderbook-tools-height: 24px;
@orderbook-header-height: 33px;
@orderbook-border-width: 1px;
@orderbook-border-color: #181818;

.orderbook
{
    display: flex;
    flex-direction: column;

    .orderbook-tools
    {
        height: @orderbook-tools-height + 1;
        align-items: center;
        font-size: 11px;
        color: #FFF;
        -webkit-font-smoothing: auto;

        .orderbook-tools-left, .orderbook-tools-right
        {
            display: flex;
            align-items: center;
        }

        .orderbook-tools-left
        {
            .btn
            {
                border-right: 1px solid @pane-border-color;
            }
        }

        .orderbook-tools-right
        {
            .btn
            {
                border-left: 1px solid @pane-border-color;
            }
        }

        .orderbook-tools-spacer
        {
            flex: 1;
        }

        .btn
        {
            height: @orderbook-tools-height;
            line-height: @orderbook-tools-height;

            &.symbol
            {
                font-family: 'Inconsolata';
                font-size: 13px;
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 180px;
                color: @text-color;
                -webkit-font-smoothing: antialiased;
            }
        }

        &.bottom
        {
            border-bottom: 0;
            border-top: 1px solid @pane-border-color;
        }
    }

    .tbody
    {
        flex: 1;
        overflow: auto;
        background: @pane-content-background-color;
    }

    .spread
    {
        border-bottom: @orderbook-border-width solid @orderbook-border-color;
        border-top: @orderbook-border-width solid @orderbook-border-color;
        background: #282828;
        height: @orderbook-tools-height + 2;
        line-height: @orderbook-tools-height;
        display: flex;
        margin: 4px 0;

        > div
        {
            flex: 1;
            padding: 0 10px;
        }

        .value
        {
            text-align: right;
            font-size: 13px;
            font-weight: 700;
            font-family: Inconsolata;
        }

        .currency
        {
            font-size: 11px;
            color: @text-color-subtle;
            -webkit-font-smoothing: auto;
        }
    }

    .aggregation
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .aggregation-title
    {
        padding-left: 10px;
        height: @orderbook-tools-height;
        line-height: @orderbook-tools-height;
        color: @text-color-subtle;
    }

    .aggregation-value
    {
        width: 80px;
        text-align: center;
        border-left: 1px solid @pane-border-color;
        height: @orderbook-tools-height;
        line-height: @orderbook-tools-height;
        pointer-events: none;
    }

    .change-aggregation
    {
        width: @orderbook-tools-height;
        padding: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 10px auto;

        &.plus
        {
            background-image: url('via://orderbook/images/plus.svg');
        }

        &.minus
        {
            background-image: url('via://orderbook/images/minus.svg');
        }
    }

    .via-table
    {
        min-height: 100px;

        .td
        {
            font-size: 13px;
            font-weight: 700;
            font-family: Inconsolata;
            color: #555;
            text-align: right;
            padding: 0 10px;

            span
            {
                color: #FFF;
            }

            &.scale
            {
                padding: 4px 0;
                flex: 0.7;
            }
        }

        .scale-bar
        {
            height: 12px;
        }

        &.bids
        {
            .td.price
            {
                color: @primary-color;
            }

            .td.scale
            {
                border-left: 2px solid fade(@primary-color-up, 40%);
            }

            .scale-bar
            {
                background-color: fade(@primary-color-up, 40%);
            }
        }

        &.asks
        {
            .td.price
            {
                color: @background-color-error;
            }

            .td.scale
            {
                border-left: 2px solid fade(@primary-color-down, 40%);
            }

            .scale-bar
            {
                background-color: fade(@primary-color-down, 40%);
            }
        }
    }
}
