@import "variables";
@import "ui-variables";

@orderbook-tools-height: 24px;
@orderbook-border-width: 1px;
@orderbook-border-color: #444;//@header-border-color;
@orderbook-row-height: 16px;
@orderbook-row-count: 50;

.orderbook
{
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;

    .orderbook-table
    {
        flex: 1;
        overflow: auto;
        background: @pane-background-color;

        .thead
        {
            display: none;
        }
    }

    .spread
    {
        // border-bottom: @orderbook-border-width solid @orderbook-border-color;
        // border-top: @orderbook-border-width solid @orderbook-border-color;
        // background: #242424;//@header-background-color;
        height: @orderbook-tools-height + 10;
        line-height: @orderbook-tools-height;// - 2;
        display: flex;
        margin: 4px 0;
        padding: 5px 0;

        > div
        {
            flex: 1;
            padding: 0 10px;
            font-weight: 500;
        }

        .value
        {
            text-align: right;
            font-weight: 700;
        }

        .currency
        {
            color: @text-color-subtle;
        }
    }

    .aggregation-title
    {
        color: @text-color-subtle;
        // font-weight: 500;
    }

    .aggregation-value
    {
        font-weight: 700;
        padding: 0 10px;
        color: @text-color;
    }

    .change-aggregation
    {
        width: @orderbook-tools-height;
        padding: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 10px auto;
        opacity: 0.6;

        &.plus
        {
            background-image: url('via://orderbook/images/plus.svg');
        }

        &.minus
        {
            background-image: url('via://orderbook/images/minus.svg');
        }

        &:hover, &:active
        {
            opacity: 0.8;
        }
    }

    .via-table
    {
        height: @orderbook-row-height * @orderbook-row-count;

        .tr
        {
            height: @orderbook-row-height;
            user-select: none;
            cursor: default;

            &:hover
            {
                background: lighten(@pane-background-color, 10%);
            }
        }

        .td
        {
            font-weight: 700;
            font-family: @font-family-serif;
            color: fade(@text-color-subtle, 40%);
            text-align: right;
            padding: 0 10px;
            pointer-events: none;

            span
            {
                color: @text-color;
            }

            &.scale
            {
                padding: 0;
                flex: 0.7;
            }
        }

        .scale-bar
        {
            height: @orderbook-row-height;
        }

        &.bids
        {
            .td.price
            {
                color: @primary-color-up;
            }

            .scale-bar
            {
                background-color: fade(@primary-color-up, 60%);
                min-width: 2px;
            }
        }

        &.asks
        {
            .table-body
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: @orderbook-row-height * @orderbook-row-count;
            }

            .td.price
            {
                color: @background-color-error;
            }

            .scale-bar
            {
                background-color: fade(@primary-color-down, 60%);
                min-width: 2px;
            }
        }
    }
}
