@import "variables";

@orderbook-header-height: 32px;
@orderbook-border-width: 2px;
@orderbook-border-color: #444;

.orderbook
{
    // background: #333;
    display: flex;
    flex-direction: column;

    .thead
    {
        height: @orderbook-header-height;
        line-height: @orderbook-header-height - @orderbook-border-width;

        &:first-child
        {
            border-bottom: @orderbook-border-width solid @orderbook-border-color;
        }

        &:last-child
        {
            border-top: @orderbook-border-width solid @orderbook-border-color;
        }
    }

    .tbody
    {
        flex: 1;
        overflow: auto;
    }

    .spread
    {
        border-bottom: @orderbook-border-width solid @orderbook-border-color;
        border-top: @orderbook-border-width solid @orderbook-border-color;
        height: @orderbook-header-height;
        line-height: @orderbook-header-height - (2 * @orderbook-border-width);
        font-size: 13px;
        font-weight: 700;
        font-family: Inconsolata;
        display: flex;

        .currency, .value
        {
            flex: 1;
        }
    }

    .via-table
    {
        min-height: 100px;

        .td
        {
            font-size: 13px;
            font-weight: 700;
            font-family: Inconsolata;
            color: #555;
            text-align: right;

            span
            {
                color: #FFF;
            }
        }
    }
}
